*.r linguist-vendored
*.rpc linguist-vendored
*.rp linguist-vendored
.r linguist-vendored
.rpc linguist-vendored
.rp linguist-vendored
Makefile linguist-vendored
*.mk linguist-vendored
.mk linguist-vendored
